@import url('https://fonts.googleapis.com/css?family=Raleway');

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

body{
    background: #2d3436;
    color: #dfe6e9;
    font-family: 'Raleway', sans-serif;
}

.frame{
    text-align: center;
    border: 1px #d63031 solid;
    border-radius: 20px;
    margin: 100px;
    padding: 20px;
}

.form{
    margin: auto
}

.blink{
    animation: blink 2s linear infinite;
    text-align: center;
    margin: 100px;    
}

row{
    margin: auto;
}

h1{
    color: #d63031;
    font-size: 7em;
}

h2, h3{
    text-align: center;
    font-size: 2em;
    color: #dfe6e9;
    text-decoration-line: none;
}

.col-6 h2:hover, a:hover{
    color: #d63031;
    text-decoration-line: none;
}

a, h3:hover{
    color: #0984e3;
}

h2.selected{
    border-bottom: 1px solid #d63031;
    color: #d63031;
    text-decoration-line: none;
    padding-bottom: 20px;
}

h3.selected{
    border-bottom: 1px solid #0984e3;
    color: #0984e3;
    text-decoration-line: none;
    padding-bottom: 20px;
}

.form{
    width: 90%;
    margin: 5%;
}

input{
    background-color: rgba(255, 255, 255, 0);
    color: #dfe6e9; 
    border: 1px #d63031 solid;
    border-radius: 5px;
}

::placeholder {
    color: #dfe6e9; 
}

#single-content{
    display: block;
}

.rules{
    display: block;
    margin: auto;
    color: #dfe6e9;
    width: 40%;
    text-align: justify;
}

.next{
    display: block;
    margin: auto;
    align-content: center;
}

/* ROOMS */

    /* UTILITAIRES */

    .titre{
        animation: blink 2s linear infinite;
        padding-top: 50%;
        transform: translateY(-50%);
        font-size: 3em;
    }

    #enigme{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #dfe6e9;
        background-color: #2d3436;
        border-radius: 5px;
        padding: 5px; 
    }

    #timer{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #dfe6e9;
        background-color: #2d3436;
        border-radius: 5px;
        padding: 5px; 
    }

    #indice{
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: #00000000;
        color: #dfe6e9;
        border: 0;
        background-color: #2d3436;
        border-radius: 5px;
    }

    #chat{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: #00000000;
        color: #dfe6e9;
        border: 0;
        background-color: #2d3436;
        border-radius: 5px;
    }

    #chat form{
        margin: 0;
    }

    #chat input{
        border: 0;
    }

    #chat button{
        border: 1px #dfe6e9 solid;
        background: #00000000;
        color: #dfe6e9;
        border-radius: 5px;
    }

    #message{
        width: 220px;
    }
    
    /* ROOM 1 */

#obscurite{
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: black;
}

    #interrupteur{
        position: absolute; 
        top: 50%;
        left: 20%;
        width:50px;
        height:100px;
        opacity: 0;
    }

#lumiere{
    margin: 0;
    padding: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("media/room1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

    #cocaine_1{
        position: absolute;
        top: 50%;
        left: 10%;
        width: 10%;
        z-index: 9;
        border: 1px solid #d3d3d3;
        text-align: center;
        box-shadow: 0 0 1em gold;
    }

    .image{
        width: 100%;
    }

    #closed_door{
        position: absolute;
        bottom: 50%;
        left: 45%;
        width: 10%; 
        box-shadow: 0 0 1em red;
    }

    #open-door{
        position: absolute;
        bottom: 50%;
        left: 50%;
        box-shadow: 0 0 1em gold;
    }

    #balance_droite{
        position: absolute;
        bottom: 50%;
        left: 35%;
        width: 5%;
    }

    #balance_gauche{
        position: absolute;
        bottom: 50%;
        left: 60%;
        width: 5%;
    }