@import url('https://fonts.googleapis.com/css?family=Raleway');

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

body{
    background: #2d3436;
    color: #dfe6e9;
    font-family: 'Raleway', sans-serif;
}

.frame{
    text-align: center;
    border: 1px #d63031 solid;
    border-radius: 20px;
    margin: 100px;
    padding: 20px;
}

.form{
    margin: auto
}

.blink{
    animation: blink 2s linear infinite;
    text-align: center;
    margin: 100px;    
}

row{
    margin: auto;
}

h1{
    color: #d63031;
    font-size: 7em;
}

h2, h3{
    text-align: center;
    font-size: 2em;
    color: #dfe6e9;
    text-decoration-line: none;
}

h2:hover, a:hover{
    color: #d63031;
    text-decoration-line: none;
}

a, h3:hover{
    color: #0984e3;
}

h2.selected{
    border-bottom: 1px solid #d63031;
    color: #d63031;
    text-decoration-line: none;
    padding-bottom: 20px;
}

h3.selected{
    border-bottom: 1px solid #0984e3;
    color: #0984e3;
    text-decoration-line: none;
    padding-bottom: 20px;
}

.form{
    width: 90%;
    margin: 5%;
}

input{
    background-color: rgba(255, 255, 255, 0);
    color: #dfe6e9; 
    border: 1px #d63031 solid;
    border-radius: 5px;
}

::placeholder {
    color: #dfe6e9; 
}

#single-content{
    display: block;
}

.rules{
    display: block;
    margin: auto;
    color: #dfe6e9;
    width: 40%;    
    text-align: justify;
}

.next{
    align-content: center;
}